@import "https://kit.fontawesome.com/5358770994.js";
@import "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css";
@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
@import "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("");

:root {
  --main-color: #e4e4e5;
  --white-color: #fff;
  --first-color: #000;
  --second-color: #ff8400;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: auto;
  z-index: 10;
  background-color: var(--main-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-family: "";
  color: var(--first-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header span {
  color: var(--second-color);
}
.none {
  display: none;
}

.block {
  display: block;
}

.menu-btn {
  position: fixed;
  right: 0;
}

.menu {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 5rem;
  flex-direction: column;
  transition: opacity 0.5s ease;
  background-color: var(--main-color);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.isVisibility {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--second-color);
  background-color: #979797;
}

.dark-theme-btn {
  background: #b5b5b5;
  padding: 5px;
  border-radius: 50px;
  display: flex; /* Agregamos flexbox */
  position: fixed;
  right: 4.5rem;
}

.dark-theme-btn:hover {
  transform: scale(1.3);
  color: white;
}

.contenido {
  max-width: 600px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.contenido h1 {
  position: absolute;
  font-size: 30px;
  color: #e4e4e5;
  z-index: 1;
  margin: 0;
  left: 60px;
  top: 300px;
  font-size: 20px;
  font-weight: 300;
}

.contenido h2 {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  margin: 50px 0;
  color: #ff8400;
  z-index: 1;
  left: 60px;
  top: 330px;
}

.contenido span {
  color: var(--second-color);
}

.container-car {
  position: relative;
  margin: auto;

  max-width: 800px;
  min-width: 200px;
  min-height: 400px;
}
.container-car img {
  top: 5rem;
  left: 2rem;
}
.container-modelos {
  margin: 0 4rem;
}
.car-description {
  text-align: center;
  position: absolute;
  top: 4rem;
  left: 0;
}

.car-description img {
  position: absolute;
  opacity: 0.15;
  top: 4rem;
  left: 6rem;
}
.car-description h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.car-description p {
  padding: 2rem;
  color: var(--first-color);
  font-weight: bold;
  text-align: justify;
  width: inherit;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 20rem;
  height: 15rem;
}
.contenido p {
  display: inline;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: rgb(183, 183, 183);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  z-index: 1;
}
.container-inicio {
  position: relative;
  width: 100%; /* Ancho deseado del video */
  height: auto; /* Altura deseada del video */
  margin: 0;
  overflow: hidden; /* Evitar que el video se desborde */
}

.video {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubrir el contenedor manteniendo la relación de aspecto */
}
#NOTICIAS h2 {
  text-align: center;
}

.cards-container {
  margin: 2rem;
}

.card-item {
  border: 0.2rem solid var(--first-color) 000;
  margin-bottom: 2rem;
  border-radius: 2%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.75);
  background-color: #cccccc75;
}

.cards-container p {
  text-align: justify;
  padding: 2rem;
  /* display: inline-block; */
}

.section > h2 {
  text-align: center;
  padding-top: 8rem;
}

.card-item a {
  color: blue;
  text-decoration: none;
  padding: 2rem;
}

.section {
  margin-top: 10rem;
  width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.bordes {
  margin: 0rem auto;
}

#MODELOS > .container {
  width: 100%;
  height: 100vh;
}

.form {
  margin: 2rem;
  background-color: #cccccc6e;
  padding: 1rem;
  max-width: 800px;
}
.form input,
.form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5rem;
  margin: 1rem auto;
  background-color: #cccccc80;
  display: block;
  width: 100%;
}
.from input {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid #666;
}

.form textarea {
  resize: none;
  border-bottom: thin solid #666;
}

.form input[type="submit"] {
  margin-top: 0;
  width: 8rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.form input[type="submit"]:hover {
  opacity: 0.75;
}

.form *::placeholder {
  color: #666;
}

@keyframes whatsapp {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 120px;
  left: 10px;
  z-index: 1;
  animation: whatsapp 2s ease infinite both;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: #bebebe;
  padding: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  color: var(--first-color);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer h2 {
  color: var(--first-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer ul {
  display: flex;
  list-style: none;
  font-size: 1.01rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 0 1rem;
}

.footer a {
  color: var(--first-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.footer svg {
  fill: var(--second-color);
  width: 5rem;
  height: 6rem;
}
.social-media {
  display: flex;
  position: relative;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.social-item {
  border: thin solid var(--first-color);
  padding: 0.5rem;
  background-color: var(--first-color);
}
.social-media svg {
  width: 2rem;
  color: var(--white-color);
  height: 2rem;
}
.social-media svg:hover {
  opacity: 0.5;
}

.classDark {
  background-color: #202124;
  color: white;
}
.classDark .header {
  background-color: #454545;
}

.classDark h2,
.classDark p,
.classDark {
  color: white;
}
.classDark .contenido h2 {
  color: var(--second-color);
}
.classDark .menu {
  background-color: #454545;
}
.classDark .menu a {
  background-color: #454545;
  color: var(--white-color);
}
.classDark .card-item {
  box-shadow: 0.25rem 0.25rem 1rem rgba(255, 255, 255, 0.75);
}
.classDark .menu a:hover {
  background-color: #454545;
  color: var(--second-color);
}
.classDark .footer {
  background-color: var(--first-color);
}

.classDark .footer .icono svg {
  background-color: var(--white-color);
  border-radius: 50%;
}

.classDark .footer a {
  color: var(--white-color);
}
.classDark .options {
  background-color: #202124;
}

@media screen and (min-width: 48em) {
  .container-flex {
    display: flex;
    flex-direction: row;
  }
  .car-description {
    margin-top: -4rem;
    margin-left: 2rem;
  }
  .flex-item {
    margin-top: 2rem;
    align-items: center;
    flex-basis: 50%;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    justify-content: center;
    align-items: start;
    margin: 4rem;
  }
  .container-car img {
    top: 5rem;
    left: 2rem;
  }
  .form {
    margin: 3rem auto;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 1rem;
  }

  .form-item {
    margin-top: 2rem;
  }
  .form-textarea {
    grid-column: span 2;
  }
  .form > [type="submit"] {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 10%;
    border: thin solid var(--first-color);
    grid-column: span 2;
  }
}
@media screen and (min-width: 64em) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }
  .container > h2 {
    flex-grow: 2;
  }
  .menu-btn {
    display: none;
  }
  .menu {
    text-align: right;
    position: static;
    opacity: 1;
    flex-direction: row;
    margin: 0;
    width: auto;
    transition: transform 1s ease-in-out;
    pointer-events: auto;
  }
  .menu a:last-child {
    padding-right: 0;
    right: 2rem;
  }
  .menu a:hover {
    background-color: var(--main-color);
    transform: scale(1.2);
  }
  .dark-theme-btn {
    background: #b5b5b5;
    padding: 5px;
    position: static;
    border-radius: 50px;
    display: flex; /* Agregamos flexbox */
    margin-left: 35px;
  }

  .contenido h1 {
    font-size: 40px;
  }

  .contenido h2 {
    font-size: 30px;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-car img {
    top: 4rem;
    left: 8rem;
  }
  .whatsapp-ico {
    left: inherit;
    top: inherit;
    bottom: 3rem;
    right: 2rem;
  }
  .footer {
    margin: 0;
  }
}
